<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description" content="Directory of free stock photography sites, curated on GitHub." />

<title>Free Stock Images</title>
<meta name="description" content="A list of free stock photograph websites. Contribute by submitting your favorite resources to this project on GitHub.">
<meta property="og:title" content="Awesome Free Photos">
<meta property="og:type" content="website">
<meta property="og:url" content="http://awesomefreephotos.com/">
<meta property="og:image" content="http://awesomefreephotos.com/images/grid.png">
<meta property="og:description" content="A list of free stock image resources that you can help keep up-to-date.">

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/flat-ui.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<link href="styles/liststyle.css" rel="stylesheet">
