<link href="styles/liststyle.css" rel="stylesheet">
{% assign licenses = "|" | split: "|" %}
{% assign tags = "|" | split: "|" %}

{% for imagesite in site.imagesites %}

   {% if licenses contains imagesite.license %}
   {% else %}
      {% assign licenses = licenses | push: imagesite.license %}
   {% endif %}


   {% for tag in imagesite.tags %}
      {% if tags contains tag %}
      {% else %}
         {% assign tags = tags | push: tag %}
      {% endif %}
   {% endfor %}

{% endfor %}

{% assign licenses = licenses | sort %}
{% assign tags = tags | sort %}

<div id="Controls">
   <dl class="dl-horizontal">
      <dt><i class="glyphicon glyphicon-tags" aria-hidden="true"></i> Tags</dt>
      <dd>
         {% for tag in tags %}
         <button class="filter btn btn-default btn-xs" data-filter=".{{ tag }}">{{ tag }}</button>
         {% endfor %}
      </dd>
      <dt><i class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></i> Licenses</dt>
      <dd>
         {% for license in licenses %}
         <button class="filter btn btn-default btn-xs" data-filter=".{{ license | | replace: ' ', '_' }}">{{ license }}</button>
         {% endfor %}
      </dd>
</div>

<div id="Container" class="row">
   {% for imagesite in site.imagesites %}
   <div class="mix col-xs-6 col-sm-3 col-md-2
               {{ imagesite.tags | join: ' ' }}
               {{ imagesite.license | | replace: ' ', '_'}}
               "
        data-quality="{{ imagesite.quality }}">
      <div class="inner qual{{ imagesite.quality }}">
         <a href="{{ imagesite.siteurl }}">
            <h3>
            {{ imagesite.sitename }}
            </h3>
         </a>
         <a class="label label-default" href="{{ imagesite.licenseurl }}">
            <i class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></i> {{ imagesite.license }}</a>
         <span class="label label-default"

            data-toggle="tooltip"
            data-placement="bottom"
            data-trigger="click hover focus"
            title="{{ imagesite.tags | array_to_sentence_string }}">
         <i class="glyphicon glyphicon-tags" aria-hidden="true"></i> &nbsp; {{ imagesite.tags | size }}
         </span>
      </div>
   </div>
   {% endfor %}
</div>

{% comment %}
		<tr>
			<td><a href="{{ imagesite.siteurl }}"><span class="sitename">{{ imagesite.sitename }}</span></a></td>
         <td><a href="{{ imagesite.sponsorurl }}"><span class="sponsor">{{ imagesite.sponsor }}</span></a></td>
         <td class="quality">{{ imagesite.quality }}</td>
         <td><a href="{{ imagesite.licenseurl }}">
            <span class="license">{{ imagesite.license }}</span></a>
         </td>
			<td class="tags">{{ imagesite.tags | array_to_sentence_string }}</td>
		</tr>
	{
	</tbody>
</table>
</div>

</div>
{% endcomment %}
