---
# frontmatter
---

html {
       overflow-y: scroll;
}

.navbar {
   border-radius: 0px;
}

.container .row {
   margin-left: 0px;
   margin-right: 0px;
}

#Controls {
   .filter{
      display: inline-block;
      // background-color: rgb(66, 139, 202);
      margin: 2px;
      // padding: 5px;
      // color: white;
      background-color: #7F8C8D;
   }

   .active{
      // background-color: black;
      background-color: #16A085;
   }
}

#Container {

   .fail-message{
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  transition: 150ms;
      opacity: 0;
      position: absolute;
      z-index: -5;

}

.fail-message span{
  font-size: 20px;
  font-weight: 700;
}

&.fail .fail-message{
  opacity: 1;

}

   .mix{
      display: none;
      padding: 5px;


      //margin: 5px inherit;

      &.qual1 .inner {
            background-color: rgba(44, 62, 80, .70)
         }

         &.qual2 .inner{
            background-color: rgba(44, 62, 80, .80)
         }

         &.qual3 .inner{
            background-color: rgba(44, 62, 80, 1)
         }

      .inner {
         padding: 5px;
         height: 100px;
         overflow: hidden;
         background-color: #FFF;
         border-radius: 3px;





         h3 {

            margin: 0px;
            font-size: 24px;

            a {
               color: #ECF0F1;

               &:hover {
                  color: #BDC3C7;
                  text-decoration: none;
               }
            }

         }

         .label {
            margin-right:5px;
         }

      }

   }
}
